:root {
    --main-font: 'Open Sans', sans-serif, 'Times New Roman', 'Helvetica';
    --main-area-bg-color: rgba(230, 230, 230, 0.719);
    --card-bg-color: white;
    --sidebar-bg-color: rgba(67, 120, 190, 0.795);
    --search-bar-bg-color: rgba(197, 207, 219, 0.747);
}

body {
    font-family: var(--main-font);
    /* background-color: var(--main-area-bg-color); */
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}

button {
    width: 100px;
    height: 40px;
    background-color: lightblue;
    font-size: 1rem;
    border: none;
    background-color: var(--sidebar-bg-color);
    color: white;
    border-radius: 16px 16px;

}

.container {
    /*  display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: auto 5fr; */
}


.header {
    display: grid;
    gap: 24px;
    background: white;
    box-shadow: 1px 6px 8px rgba(0, 0, 0, 0.3);
    padding-bottom: 24px;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 12px 22px 12px 22px;
}

.header-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 48px;
    margin-top: 12px;
    margin-left: 12px;
}



.header-1-left-side>svg {
    height: 30px;
    width: auto;
}

.header-1-left-side {
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    align-items: center;
    gap: 8px;
}

.header-1>div+div {
    grid-template-columns: repeat(3, auto);
    gap: 28px;
    justify-content: end;
    margin-right: 52px;
}

.header-1-right-side>svg {
    height: 30px;
    width: auto;
}

.header-1-right-side>img {
    height: 40px;
    width: auto;
    border-radius: 50%;
}

.header-1-right-side {
    justify-content: end;
    grid-row: 1/2;
    grid-column: 2/3;
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-1 p {
    align-self: center;
    font-weight: 700;
    font-size: 1.3rem
}

.header-1>div {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 6px;
}

.header-1>.header-1-left-side {
    padding-left: 22px;
    display: flex
}

input[type="search"] {
    flex: 1;
    max-width: 525px;
    width: 500px;
    border-radius: 12px 12px;
    height: 32px;
    border: none;
    background-color: var(--search-bar-bg-color);
}

.header-1>div>div {
    width: auto
}

.header-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-left: 12px;
}

.header-2-left {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    align-items: center;
    grid-row: 2/3;
    grid-column: 1/2;
}

.welcome-message>div+div {
    font-size: 1.4rem;
    font-weight: 600;
}

.header-2-left>img {
    height: 60px;
    width: auto;
    border-radius: 50%;
}

.button-group {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: end;
    gap: 22px;
    grid-row: 2/3;
    grid-column: 2/3;
    align-items: center;
}

.image-placeholder {
    width: 25px;
    height: 25px;
}

img {
    width: 35px;
    height: auto;
}


.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 400px 1fr auto;
    grid-auto-rows: auto;
    background-color: var(--main-area-bg-color);
    padding: 20px;
    column-gap: 20px;
}

.projects-container {
    grid-column: 1/2;
    grid-row: 1/3;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 230px;
    gap: 20px;
    padding-left: 8px;
}

.projects>p {
    grid-column: 1/3;
    ;
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 20px;
}

.projects .card {
    /*   outline: 2px solid black; */
    font-size: 1.2rem;
    padding: 22px;
    display: flex;
    max-height: 230px;
    flex-direction: column;
    gap: 6px;
    grid-template-rows: auto 1fr auto;
    border-radius: 12px 12px 12px 12px;
    background: var(--card-bg-color);
    box-shadow: 0px 6px 4px 4px rgba(155, 155, 155, 0.322);


}

.card-icons {
    display: flex;
    justify-content: end;
    gap: 12px;
    margin-right: 6px;
    margin-top: auto;
}

.card-icons>svg {
    height: 30px;
    width: auto;
}

.card>p+p {
    margin-top: 0;
    font-size: 1rem;
    height: fit-content;
    /* outline: 1px solid black; */
}

.title {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 0;
}

.announcements-container {
    grid-row: 1/2;
    grid-column: 2/3;
}

.announcements-body {
    /*  outline: 1px solid black; */
    display: grid;
    gap: 12px;
    padding: 22px;
    border-radius: 12px 12px;
    box-shadow: 0px 6px 4px 4px rgba(155, 155, 155, 0.322);
    background-color: white;
}

.announcements-body>div {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.announcements-body>div>p {
    margin: 0;
    font-size: 0.8rem;
}

.main-right-side {
    display: grid;
    grid-template-rows: 50px auto 30px auto;
    background: var(--main-area-bg-color);
    margin-bottom: 8px;

}

.main-right-side>p {
    margin-bottom: 7px;
    margin-top: 26px;
    margin-left: 22px;
    font-size: 1.2rem;
    place-self: start;
    font-weight: 600;
}



.projects-tag {
    grid-row: 1/2;
    grid-column: 1/2;
    margin-left: 8px;
    font-weight: 600;
    font-size: 1.1rem;
    margin: 16px 0px 10px 12px;
}

.announcements-tag {
    grid-row: 1/2;
    grid-column: 2/3;
    margin: 16px 0px 10px 2px;
    font-size: 1.1rem;
    font-weight: 600;
}

.trending-tag {
    grid-row: 3/4;
    grid-column: 2/3;
    margin: 16px 0px 16px 4px;
    place-self: start;
    font-size: 1.1rem;
    font-weight: 600;
}

.announcements-body>div:nth-child(-n+2) {
    /* display: flex;
    flex-direction: column; */
    gap: 4px;
    border-bottom: 1px solid rgb(114, 114, 114);
}

/* .privacy-policy {
    display: flex;
    flex-direction: column;
    gap: 4px;
} */

.announcements>div>p+p {
    margin-bottom: 12px;
}

.announcements-body>div:nth-child(-n+2) p:last-of-type {
    margin-bottom: 12px;
}

.trending-container {
    grid-column: 2/3;
    grid-row: 2/3;
}

.trending-body {
    /* outline: 1px solid black; */
    padding: 12px;
    display: grid;
    border-radius: 12px 12px;
    box-shadow: 0px 6px 4px 4px rgba(155, 155, 155, 0.322);

    background-color: white;
}

.trending-body>div {
    display: grid;
    grid-template-columns: 56px auto;
    grid-template-rows: auto auto;

}

.trending-1 p:nth-of-type(1),
.trending-2 p:nth-of-type(1),
.trending-3 p:nth-of-type(1),
.trending-4 p:nth-of-type(1) {
    grid-column: 2/3;
    align-self: center;
    margin-bottom: 2px;
    justify-self: start;
}

.trending-1 p:nth-of-type(2),
.trending-2 p:nth-of-type(2),
.trending-3 p:nth-of-type(2),
.trending-4 p:nth-of-type(2) {
    grid-column: 2/3;
    align-self: center;
    margin-top: 2px;
}

.trending-1>img,
.trending-2>img,
.trending-3>img,
.trending-4>img {
    place-self: center;
    grid-row: span 2;
    border-radius: 50%;
    justify-self: start;
}

.trending-1,
.trending-2,
.trending-3,
.trending-4 {
    align-items: center;
    align-content: center;
}


nav {
    display: grid;
    grid-template-rows: repeat(6, 30px);
    gap: 16px;
    grid-auto-rows: 35px;
    /* outline: 1px solid black; */
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 8px;
}

nav>div>div {
    color: white;
    font-weight: 600;
    font-size: 1.1rem;
}

nav+nav {
    grid-template-rows: repeat(3, 30px);
}

nav>div {
    display: grid;
    grid-auto-rows: auto;
}

nav>div>svg {
    height: 25px;
    width: auto;
    fill: white;
}

.sidebar {
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 22px;
    background: var(--sidebar-bg-color);
    grid-column: 1/2;
    grid-row: 1/-1;
    padding: 8px;

}

.sidebar>nav {}

.sidebar>nav>div {
    display: flex;
    justify-content: start;
    margin-left: 10px;
    align-items: center;
    gap: 12px;

}

.sidebar>div {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 6px;
    padding-left: 12px;
    padding-top: 12px;
    color: white;
}



.dashboard-logo {
    height: auto;
    fill: white;
    font-size: 1.4rem;
    font-weight: 700;
}

.dashboard-logo>svg {
    width: 50px;
    height: auto;
}